
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; 
    color: #343a40; 
}


.navbar {
    margin-bottom: 20px;
}


.card {
    border-radius: 0.5rem; 
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); 
}

.card-header {
    background-color: #007bff; 
    color: white;
    font-weight: bold;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}


.form-group {
    margin-bottom: 1.5rem; 
}


.table {
    margin-top: 20px;
}

.table thead.thead-dark th {
    background-color: #343a40; 
    color: white;
}


.alert {
    border-radius: 0.3rem;
}


.btn {
    margin-right: 10px; 
}